.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.grid__row-title {
  color: var(--gray-3);
  font-size: 1rem;
  font-weight: 500;
  padding-left: 3rem;
  text-transform: uppercase;
}
