.histogram {
  background-color: var(--white);
  border: 1px solid var(--gray-3);
  border-radius: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1rem 1.5rem 1.5rem;
  width: 100%;
}

.histogram__header {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}

.histogram__total {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.histogram__total-label {
  background-color: var(--white);
  color: var(--black);
  font-family: 'Inter';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  opacity: 0.8;
}

.histogram__total-value {
  background-color: var(--white);
  color: var(--black);
  font-family: 'Inter';
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.histogram__details-link {
  align-self: flex-start;
  background-color: var(--white);
  color: var(--primary);
  font-family: 'Inter';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 0.25rem 0 0;
  text-decoration: none;
}

.histogram__chart {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  height: 3.125rem;
}

.histogram__bar {
  background-color: var(--primary);
  border-right: 1px solid var(--white);
  display: block;
  flex-basis: 9px;
  flex-grow: 1;
}

.histogram__bar:last-of-type {
  border-right: 0;
}

.histogram_small-size {
  gap: 1.625rem;
  padding: 0.75rem 1.25rem 1.25rem;
  max-width: 18.75rem;
}

.histogram_small-size .histogram__total-label {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.histogram_small-size .histogram__total-value {
  font-weight: 700;
}

.histogram_small-size .histogram__details-link {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.histogram_small-size .histogram__chart {
  height: 3rem;
}
