@import '../../node_modules/normalize.css/normalize.css';
@import '../fonts/fonts.css';

:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #f784ad;
  --purple: #7048e8;
  --purple-1: #5028c6;
  --blue: #4263eb;
  --blue-1: #2342c0;
  --blue-2: #334d6e;
  --blue-3: #90a0b7;
  --blue-4: #a0b1f5;
  --red: #f03d3e;
  --gray-1: #f8f9fa;
  --gray-2: #dde2e5;
  --gray-3: #acb5bd;
  --gray-4: #495057;
  --orange: #d84910;

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --primary-active: var(--blue-1);
  --secondary: var(--purple);
  --secondary-active: var(--purple-1);

  --black-rgb: 33, 36, 41;
  --blue-4-rgb: 160, 177, 245;
}

* {
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

.container {
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  max-width: 90rem;
  padding: 0 10rem;
}
