.calendar {
  background-color: var(--white);
  border: 1px solid var(--gray-3);
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 1.625rem;
  width: 100%;
}

.calendar__title {
  background-color: var(--white);
  color: var(--blue-2);
  font-family: 'Inter';
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.125rem 0 1.5rem 0;
  text-align: center;
}

.calendar__square-container {
  padding-bottom: 100%;
  position: relative;
}

.calendar__items-container {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  place-content: stretch;
  place-items: stretch;
}

.calendar__item-day-name {
  background-color: var(--white);
  color: var(--blue-3);
  font-family: 'Inter';
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0 0 0.5rem;
}

.calendar__item-day {
  background-color: var(--white);
  color: var(--blue-2);
  font-family: 'Source Sans Pro';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.calendar__item-day-name,
.calendar__item-day {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.calendar_selection-bounds {
  background-color: var(--blue);
  color: var(--white);
}

.calendar_selection {
  background-color: rgba(var(--blue-4-rgb), 0.2);
}

.calendar_small-size {
  padding: 1rem;
  max-width: 12.625rem;
}

.calendar_small-size .calendar__title {
  font-size: 0.9rem;
  padding: 0 0 0.75rem 0;
}

.calendar_small-size .calendar__item-day-name {
  font-size: 0.6rem;
}

.calendar_small-size .calendar__item-day {
  font-size: 0.7rem;
}
