.modal {
  background-color: rgba(var(--gray-5-rgb), 0.5);
  display: none;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  height: 100%;
  width: 100%;
}

.modal__container {
  background-color: var(--white);
  border-radius: 8px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal_small-size .modal__container {
  border-radius: 4px;
}
