.preview {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  gap: 0.9375rem;

  height: 100%;
  padding: 1.5rem 0;
}

.preview__card {
  display: block;
  height: 13.125rem;
  width: 10.25rem;
}

@media (min-width: 376px) {
  .preview {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    gap: 2rem;

    height: 100%;
    padding: 4.25rem 0 12.75rem;
  }

  .preview__card {
    display: block;
    height: 23rem;
    width: 22rem;
    min-width: 22rem;
  }
}

/* Temporary styles until form components are created */
.preview__form {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  gap: 0.85rem;
  padding: 0.75rem 0.625rem;
}

.preview__form-item {
  display: block;
  width: 9rem;
}

.preview__form-label {
  color: var(--gray-3);
  display: block;
  font-family: 'Inter';
  font-size: 0.4rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  line-height: 0.5rem;
  padding: 0 0 0.125rem 0;
  text-transform: uppercase;
}

.preview__form-input {
  box-sizing: border-box;
  border: 1px solid var(--gray-2);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--gray-4);
  display: block;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 1rem;
  padding: 0.125rem 0.5rem;
  width: 100%;
}

.preview__form-input::placeholder {
  color: var(--gray-2);
}

.preview__form-input:focus {
  border-color: var(--blue);
  outline: none;
}

@media (min-width: 376px) {
  .preview__form {
    padding: 1.25rem;
  }

  .preview__form-item {
    width: 12rem;
  }

  .preview__form-label {
    font-size: 0.5rem;
    padding: 0 0 0.3rem 0;
  }

  .preview__form-input {
    font-size: 0.7rem;
    line-height: 1.25rem;
    padding: 0.25rem 0.75rem;
  }
}
